$white: #fff;
$whiteOpacity: rgba(255,255,255, 0.8);;
$black: #000;
$similarBlack: #010101;
$elephant: #0e243a;
$doveGray: #727272;
$brightGray: #393c4e;
$altoFade: rgba(217, 217, 217, 0.4);
$blackPearlFade: rgba(8, 12, 33, 0.2);
$dimGray: rgba(8, 12, 33, 0.8);
$darkGray: rgba(8, 12, 33, 0.6);
$mediumGray: rgba(8, 12, 33, 0.4);
$eastBay: #475480;
$lightGray: #f3f6f9;
$gray: #8b8b8b;
$santasGray: #9c9ea7;
// $athensGray :rgba(245, 245, 247, 0.6);
$athensGray: #f5f5f5;
$athens: #e4e6ec;
$athensHaze: #f2f4f7;
$lynchFade: #757f9f;
$iron: #e0e0e2;
$lynch: #657293;
$cadetBlue: #a2a9be;
$haiti: #080C21;
$silver: rgba(8, 12, 34, 0.1);
$concrete: #f3f3f3;
$laPalma: #11920f;
$moonRaker: #f0ecfb;
$athensPurple: #a78be5;
$cornflower: #6558f5;
$cornflowerBlue: #5791ea;
$persianPink: rgba(244, 113, 163, 0.1);
$amour: #f8ebf0;
$persianPinky: #f476a7;
$burntSienna: #eb5757;
$colorLate: #d3455b;
$sunsetOrange: #ff5a47;
$frolyDark: #f173a4;
$coralDark: #ff8247;
$orangeBackground: rgba(255, 90, 71, 0.1);
$pictonBlue: #448ee9;
$brightSun: #f9ce46;
$dimBrightSun: rgba(249, 206, 70, 0.4);
$lightBrightSun: #fffbed;
$aqua: #1fe0ff;
$greenHaze :#01994a;
$emerald: #2eca45;
$silverTree: #5ebd82;
$froly: #fef1f6;
$coral: #fff3ed;
$dimCoral: rgba(255, 130, 71, 0.4);
$brightSunFade: #fffbed;
$jade: #e6faef;
$onahau: #d2f9ff;
$lightPictonBlue: #edf4fd;
$lightPurpleHeart: #f1ecfb;
$purpleHeart: #6c3dd3;
$purpleHeartOpacity: rgba(108, 61, 211, 0.2);
$colorDisburse: #1aae9f;
$colorFulfilled: #e8833a;
$colorCompleted: #4b5c6b;
$colorCompletedBG: #d8dee3;
$textColor: #080c22;
$codGray: #0c090a;
$haiti: #080C21;
$lightTextColor: #f9f9f9;
$secondaryTextColor: #1e1e1e;
$grayText: #898a94;
$mischka: #d0d5dd;
$inputBorderColor: #c2c9d1;
$lightBorderColor: rgba(170, 186, 218, 0.5);
$borderColor: #aabada;
$opacityBackground: #f9f9f9;
$darkBackground: #080c22;;
$lightGrayBackground: #f5f5f7;
$blearBackground: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
$linearBorder:  linear-gradient(78.6deg, #1FB7E7 -3.88%, #7370E7 25.48%, #BE4BE7 46.05%, #D44CA4 74.22%, #E93596 102.47%);
$highlightLinearBg: linear-gradient(101.69deg, #7370E7 -43.21%, #BE4BE7 123.62%);
$linearBg: linear-gradient(78.6deg, #1FB7E7 -3.88%, #7370E7 25.48%, #BE4BE7 46.05%, #D44CA4 74.22%, #E93596 102.47%);