$appWidth: 100vw;
$maxPhoneWidth: 430px;
// $containerWidth: 375px;
$containerWidth: $maxPhoneWidth;
$navBarHeight: 260px;
$menuBarHeight: 80px;
$sideSpace: calc((100vw - $containerWidth) / 2);
$offsetSideSpace: calc((100vw - $containerWidth) * -1 / 2);

@mixin bottom-sheet-scale-up-top-animation (
  $duration,
  $opacityHide,
  $opacityShow,
  $translateXHide,
  $translateYHide,
  $translateXShow,
  $translateYShow,
  ) {
  animation: show $duration both !important;
  @keyframes show {
    0% {
      opacity: $opacityHide !important;
      transform: translate($translateXHide, $translateYHide) !important;
    }
    100% {
      opacity: $opacityShow !important;
      transform: translate($translateXShow, $translateYShow) !important;
    }
  }
}