$openSans: 'Open-Sans';

@font-face {
  font-display: swap;
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/OpenSans/OpenSans-Medium.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/OpenSans/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Open-Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/OpenSans/OpenSans-Italic.ttf');
}

@mixin font(
  $font,
  $size,
  $color,
  $weight: normal,
  $height: normal,
  $spacing: 0,
  ) {
  color: $color;
  font-family: $font;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: $height;
}
