@import './styles/utils/fonts';
@import './styles/utils/colors';
@import './styles/utils/constants';

// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }

html,
body {
  width: 100%;
  max-width: $maxPhoneWidth;
  margin: 0 auto;
  padding: 0;
  position: relative;
  font-family: $openSans;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  scroll-behavior: smooth;
}

html {
  scroll-padding-top: $navBarHeight;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 100%;
    background: $black;
    z-index: -1;
  }
}

body {
  position: relative;
  font-family: 'Open-Sans', sans-serif;
  font-display: swap;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $eastBay;
  background-color: #f0ecfb;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;

  .content {
    padding: 24px;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}